html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.dhx_layout-line.dhx_layout-rows > .dhx_layout-cell {
	border-bottom: none;
}

.dhx_widget--bordered,
.dhx_grid-content {
	border: none;
}

.dhx_data-wrap,
.dhx_grid_data,
.contentGrid {
	margin-left: auto;
	margin-right: auto;
}

.contentGrid .dhx_grid_data{
	border-color: white;
}

.contentGrid .dhx_grid-body,
.contentGrid .dhx_data-wrap,
.contentGrid .dhx_grid_data {
	background-color: #30333d;

}

.contentGrid .dhx_grid-cell {
	background-color: #30333d;
	color: white;
	text-align: center;
	border-color: white;
}

.dhx_data-wrap {
	border-top: none;
}

.dhx_header-wrapper {
	margin-right: 40px;
}

.tabArea,
.tabArea .dhx_layout-cell,
.tabArea .dhx_layout-cell-content,
.tabArea .dhx_layout-cell-header,
.tabArea .dhx_layout-cell-header__title {
	background-color: #5d6071;
	color: #fff;
	border-color: #FFFFFF1F;
}


/*toolbarArea 색 지정*/
.toolbarArea,
.toolbarArea .dhx_layout-cell-content,
.toolbarArea .dhx_form,
.toolbarArea .dhx_form-group,
.toolbarArea .dhx_form-element,
.toolbarArea .dhx_simplevault {
	background-color: #30333d;
	color: #fff;
	border-color: rgba(255, 255, 255, 0.12);
}


.toolbarArea .dhx_layout-cell-header,
.toolbarArea .dhx_layout-cell-header__title {
	background-color: #5d6071;
	color: #fff;
	border-color: #5d6071;
}


.toolbarArea .dhx_label,
.toolbarArea .dhx_text,
.toolbarArea .dhx_checkbox,
.toolbarArea .dhx_checkbox .dhx_text,
.upload_form .dhx_label,
.upload_form .dhx_text,
.upload_form .dhx_checkbox,
.upload_form .dhx_checkbox .dhx_text {
	color: #fff;
}

.upload_form .dhx_button{
	margin:40px;
	border-radius:10px;
	background-color: #7379d5;
}

.upload_form .dhx_checkbox{
	margin-left: 30px;
}

.upload_form .dhx_label{
	margin: 40px;
	margin-left: -70px;
}

.upload_form .dhx_text{
	margin: 40px;
	margin-left:10px;
}
.upload_form .dhx_button_loadbtn{
	margin-left:-20px;
}

.upload_form .dhx_simplevault .dhx_button{
	margin: 0;
	border-radius: 50%;
}

.upload_form .loadbtn{
	margin-left:-50px;
}

.upload_form .dhx_simplevault-files__delete {
	position: absolute;
	right: 4px;
	top: 50%;

}

.upload_form .dhx_simplevault-files__item {
	position: relative;
	padding-right: 64px;
}



.toolbarArea .dhx_simplevault,
.toolbarArea .dhx_simplevault *,
.toolbarArea .dhx_simplevault-files,
.toolbarArea .dhx_simplevault-files *,
.toolbarArea .dhx_simplevault-file,
.toolbarArea .dhx_simplevault-file *
 {
	color: #000;
}

.dhx_grid-body {
	border: 1px solid #dfdfdf;
	margin-left: auto;
	margin-right: auto;
}


#resultArea {
	height: 100%;
	min-height: 100%;
	background-color: #30333d;
	color: #fff;
	box-sizing: border-box;
	padding: 16px;
}

#resultArea p {
	background-color: #30333d;
	color: #fff;
}
